.paper{
    padding: 1rem 2rem 3rem;
    margin-top: 4rem;
    max-height: 28.5rem;
}
.title{
    margin-bottom: 2rem !important;
}
.title-1{
    color        : rgba(0, 0, 0, 0.57) !important;
    font-size    : 1.4rem                !important;
    margin-bottom: 0.5rem                !important;
    font-weight  : 500                   !important;
}
.subject{
    color         : rgba(0, 0, 0, 0.77) !important;
    font-size     : 1.2rem                !important;
    margin-bottom : 1.5rem                !important;
    text-transform: uppercase                       ;
}
