.rightIcon{
    margin-left: 1rem;
}
.DadosUsu {
    padding   : 1rem 2rem;
    margin-top: 4rem     ;
}
.DadosUsu-twoColumns {
    display        : flex         ;
    justify-content: space-between;
    margin         : 1rem 0       ;

}

.DadosUsu-control {
    min-width: 25rem!important;
}